{% extends "base.html" %}

{% block content %}

{% if backpath %}
<a href="{{ backpath }}" class="btn btn-primary">prev</a><BR>
{% endif %}

<h1>{{ title }}</h1>

<form acion="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn btn-sm btn-primary">

    <input type="reset" value="Reset" class="btn btn-sm btn-primary">

    <!--
    <button onclick="goBack()">Cancel</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    -->
</form>
{% endblock %}